body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

/* Center */
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Button */
.btn {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #2563eb;
}

/* Dashboard */
.dashboard {
  width: 400px;
  background: #1e293b;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.logout {
  margin-top: 10px;
  background: #ef4444;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* Task Input */
.task-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.task-box button {
  background: #22c55e;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* Task List */
.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background: #334155;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}